.about-us#nosotros
    .container
        .title
             h3 Nosotros
        .about-us__profiles
             .row
                .col-12.col-lg-5.mb-5.mb-lg-0
                    .bout-us__profiles--item
                        .box-image
                            img(src="images/profile-1.png", alt="")
                        h4 Lautaro Estevez
                        p Licenciado en Tecnología Médica
                        span Universidad Siglo XXI
                .col-12.col-lg-5
                    .bout-us__profiles--item
                        .box-image
                            img(src="images/profile-2.png", alt="")
                        h4 Martin Lavarrieta
                        p Licenciado en Tecnología Médica
                        span Universidad Siglo XXI