.about-us#nosotros
    .c-container
        .title
            h3 Nosotros
        .about-us__info
            p 
                | Somos una empresa de tecnología médica especializada en 
                br
                | una amplia gama de servicios orientados a satisfacer las 
                br 
                | necesidades de equipamiento médico hospitalario.
                br
                | Llevamos a cabo soluciones que contribuyen a lograr 
                br     
                | eficiencia, mejorar la calidad de atención
                br 
                | de los pacientes, optimizar el flujo de trabajo y reducir los 
                br  
                | costos de mantenimientos.
        .about-us__profiles
             .row
                .col-12.col-lg-5.mb-5.mb-lg-0
                    .bout-us__profiles--item
                        .box-image
                            img(src="images/prevent-icon.svg", alt="")
                        p
                            b Priorizamos constantemente la prevención
                            br
                            | por encima de la corrección, logrando mayor efectividad en los mantenimientos y prolongando la vida útil de su parque tecnológico.
                .col-12.col-lg-5
                    .bout-us__profiles--item
                        .box-image
                            img(src="images/location-icon.svg", alt="" width='50')
                        p 
                            b Realizamos los servicios dentro de su establecimiento
                            |
                            garantizando agilidad y disponibilidad continua de su equipamiento, disminuyendo los tiempos muertos y evitando riesgos en el traslado.