.certificate#trazabilidad
    .c-container
        .certificate__box
             .row
                .col-12.col-lg-5.mb-5.mb-lg-0
                    .certificate__box--item
                        .oval-item
                            a(href="http://")
                                img(src="images/icon-cert.svg", alt="")
                        h4 Certificado
                        p Entregamos certificados por los ensayos realizados a los equipos médicos. 
                .col-12.col-lg-5
                    .certificate__box--item
                        .oval-item
                            a(href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/220000-224999/224109/norma.htm")
                                img(src="images/icon-law.svg", alt="")
                        h4 LEY 26.906
                        p Nos aseguramos que las mediciones sean correctas, y lo hacemos conforme a la Ley 26.906.