.contact#contacto
    .c-container
        .title
             h3 Contacto
        .contact__box
             .row.justify-content-center
                .col-12.col-lg-8
                    p Dejanos tu consulta, y te estaremos respondiendo a la brevedad.
                    form
                        .form-group
                            input#formGroupExampleInput.form-control(type='text', placeholder='Nombre')
                        .form-group
                            input#formGroupExampleInput2.form-control(type='text', placeholder='Email')
                        .form-group
                            input#formGroupExampleInput2.form-control(type='text', placeholder='Teléfono')
                        .form-group
                            textarea#exampleFormControlTextarea1.form-control(rows='3', placeholder='Mensaje')
                        button(
                            type="submit"
                            class="btn-submmit"
                            ) Enviar
                .wsp.col-12
                    .wsp--item
                        img(src="images/wsp-icon.svg", alt="")      
                        a(href="tel:+541132812330") +54 9 11 3281-2330
                    .wsp--item
                        img(src="images/wsp-icon.svg", alt="")   
                        a(href="tel:+541132789091") +54 9 11 3278-9091
