.contact#contacto
    .c-container
        .title
             h3 Contacto
        .contact__box
             .row.justify-content-center
                .col-12.col-lg-8
                    p Dejanos tu consulta, y te estaremos respondiendo a la brevedad.
                    form
                        .form-group
                            input#formGroupExampleInput.form-control(type='text', placeholder='Nombre')
                        .form-group
                            input#formGroupExampleInput2.form-control(type='text', placeholder='Email')
                        .form-group
                            input#formGroupExampleInput2.form-control(type='text', placeholder='Teléfono')
                        .form-group
                            textarea#exampleFormControlTextarea1.form-control(rows='3', placeholder='Mensaje')
                        button(
                            type="submit"
                            class="btn-submmit"
                            ) Enviar
