.hero
    .hero__mobile
        img(src="images/hero-bg-mobile.jpg", alt="")
    .hero__info
        .hero__info--main
            img(src="images/logo-insitu-lg.svg", alt="")
        h2 Llegamos a donde nadie llega
    .hero__menu
        .hero__menu--logo
            img(src="images/logo-insitu-lg.svg", alt="")
            img(src="images/logo-mobile.svg", alt="")
        .hero__menu--burger#open
            img(src="images/icon-burger.svg", alt="")