
.instruments#instruments
    .c-container
        .row
            .instruments__left
                p 
                    b Contamos con profesionales altamente capacitados 
                    | en áreas de tecnología médica, ingeniería, sistemas, electromedicina, legales y comercialización.
                p 
                    b Nos encontramos en constante evolución.
                    br 
                    | Ocupándonos de la capacitación directa y actualización permanente acerca de los avances tecnológicos de cada sector hospitalario.
            .instruments__right
                 img(src="images/img-instruments.png", alt="")
                 span Nuestro instrumental cuenta con certificados de calibración.
