.phrase
    .container
        .phrase__quote
            p #[span “]Proporcionan un buen servicio con
            p profesionales cualificados, destando la celeridad
            p en el trabajo realizado. #[span ”]
        .phrase__quote--autor
            h3 DR. JUAN LUCHELLI