.result
    .c-container
        .result__list
            .result__list--item
                .item-progress
                    span
                .item-content
                    p 
                        span Reducción de costos
                        | en reparaciones.
            .result__list--item
                .item-progress
                    span
                .item-content
                    p 
                        span Disponibilidad continua 
                        | del equipamiento médico.
            .result__list--item
                .item-progress
                    span
                .item-content
                    p 
                        span Seguridad
                        | hacia el paciente y usuarios.
            .result__list--item
                .item-progress
                    span
                .item-content
                    p Prevención de fallas.
            .result__list--item
                .item-progress
                    span
                .item-content
                    p 
                        span Prolongación de la vida útil 
                        | de los equipos.
            .result__list--item
                .item-progress
                    span
                .item-content
                    p 
                        span Trazabilidad 
                        | del equipamiento médico.
            .result__list--item
                .item-progress
                    span
                .item-content
                    p 
                        span Equipamiento ensayado y certificado 
                        | bajo normativa vigente.