.services#servicios
    .c-container
        .title
             h3 Servicios
        .services__list
          .services__list--item
               span
                    img(src="images/icon-instalacion.svg", alt="")
               .txt
                    p 
                         b Instalación y venta 
                         br
                         | Equipamiento médico, accesorios, consumibles, opcionales.
          .services__list--item
               span
                    img(src="images/icon-servicio.svg", alt="")
               .txt
                    p 
                         b Servicio posventa 
                         br
                         | Trazabilidad del equipamiento médico y capacitación específica a personal hospitalario.   
          .services__list--item
               span
                    img(src="images/icon-asesoramiento.svg", alt="")
               .txt
                    p 
                         b Asesoramiento profesional 
                         br
                         | Proyectos personalizados a pedido de la institución y generación de indicadores para la correcta toma de decisiones.
          .services__list--item
               span
                    img(src="images/icon-certi.svg", alt="")
               .txt
                    p 
                         b Certificación 
                         br
                         | En base a los reportes técnicos de ensayos generamos certificados con validez legal.
          .services__list--item
               span
                    img(src="images/icon-soporte.svg", alt="")
               .txt
                    p 
                         b Soporte técnico
                         br
                    | Reparamos una gran variedad de equipamiento médico de distintas marcas y modelos bajo norma IRAM 62.353.
          .services__list--item
               span
                    img(src="images/icon-programa.svg", alt="")
               .txt
                    p 
                         b Programas de mantenimiento 
                         br
                         | Diseñamos un perfil de mantenimiento preventivo para cada equipo, garantizando su funcionamiento en forma segura y constante.