.services#servicios
    .container
        .title
             h3 Servicio
        .services__info
             p Somos una empresa que realiza ensayos y certificaciones técnicas de cardio-
             p desfibriladores, como así también el mantenimiento preventivo de los mismos. 
             p Acercándonos hasta el establecimiento para que los equipos no corran riegos por salir del 
             p efector de salud, disminuyendo los tiempos de trabajo.