doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", type="text/css",  href="css/main.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css")
  body#top
    include blocks/header.pug
    include sections/hero.pug
    include sections/services.pug
    include sections/phrase.pug
    include sections/about-us.pug
    include sections/certificate.pug
    include sections/qualified.pug
    include sections/contact.pug
    include blocks/foot-logo.pug
    include blocks/footer.pug
  script(src="https://code.jquery.com/jquery-2.2.4.min.js")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
  script(src="js/main.js")      