header#toggle
    .c-container
        .header
            .header__closem#close
                img(src="images/icon-close.svg", alt="")
            .header__logo 
                img(src="images/logo-mobile.svg", alt="")
            .header__menu
                ul
                    li: a(href="#servicios") Servicios
                    li: a(href="#nosotros") Nosotros
                    li: a(href="#trazabilidad") Trazabilidad
                    li: a(href="#contacto") Contacto

