nav
    .nav 
        .wrap
            ul
                <li><a class="button" href="#">Bulonería y Tornolleria</a></li>
                <li><a class="button" href="#">Herramientas e Industria</a></li>
                <li><a class="button" href="#">Construcción y Pinturería</a></li>
                <li><a class="button" href="#">Core y soldadura</a></li>
                <li><a class="button" href="#">Protección y Seguridad</a></li>
                <li><a class="button" href="#">Hogar y Jardín</a></li>
                <li>
                    <a class="button" href="#">
                        img(src="images/salkor.png", alt="")
                    </a>
                </li>
                <li>
                    <a class="button" href="#">
                        img(src="images/gedore.png", alt="")
                    </a>
                </li>